/* ===========================================================

  # TABLES

=========================================================== */

.table {
	width: 100%;

	table {
		width: 100%;
		text-align: left;
	}

	th,
	td {
		padding: 1rem 2rem;
		text-align: left;
	}
}

.table--scroll {
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}

@include respond-max( $mq-medium ) {

	.table--stacked {
		thead {
			display: none;
		}

		td {
			display: block;

			&:before {
				content: attr( data-label ) ': ';
				display: inline-block;
				width: 50%;
			}
		}
	}

}
