@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
}

<header id="header" class="page__header">
	<a href="">
		Recipes
	</a>
</header>
